body{
  padding: 60px 0;
}

/* LOGIN */
.loginOuterContainer{
  position: relative;
   min-height: 80%;
   height:80vh;
 }
.loginInnerContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}


/* CHAT ROOM */
.messages-container{
  min-height: 70vh;
  height: 70vh;
  overflow: auto;
}